---
title: Shaan Batra
layout: default
---

<div class="intro">
  <p>I've spent the last decade working in tech as a product manager and software engineer. I'm now taking some time off to explore my interests in investing, philosophy and art. I plan to share my writing here. Some will be more logical arguments in the form of essays, others more artistic in the form of poetry and short fiction.</p>
</div>

<div class="category">
  <h2>Essays</h2>
  <div class="category-content">
    {% for essay in site.essays %}
      <div class="content-piece">
        <h3><a href="{{ essay.url }}">{{ essay.title }}</a></h3>
      </div>
    {% endfor %}
  </div>
</div>

<div class="category">
  <h2>Poetry</h2>
  <div class="category-content">
    {% for poem in site.poems %}
      <div class="content-piece">
        <h3><a href="{{ poem.url }}">{{ poem.title }}</a></h3>
      </div>
    {% endfor %}
  </div>
</div>
