---
title: Shaan Batra
layout: default
---

<div class="intro">
  <p>I've spent the last decade working in tech as a product manager and software engineer. I left in 2019 to explore my interests in science, philosophy and art. Some of my writings and meditations can be found below. I am now dedicating myself full-time to Bitcoin; as an engineer, writer and educator.</p>
</div>

<div class="category">
  <h2>Why Bitcoin?</h2>
  <div class="category-content">
    <p>Bitcoin is one of the most important humanitarian efforts of the 21st century. Not only does it offer the hope of monetary freedom for countless people living under oppressive regimes, it acts as a counterforce to the alarming rise of authoritarianism and censorship in the developed world. It's main aim is to reimagine the financial system as one that is not centrally managed by an arbitrary authority and is therefore more inclusive and egalitarian. Rules without rulers. Bitcoin is a political movement on par with the Democratic revolution of the late 18th century. And it is a technological innovation which will have just as profound an impact on modern civilization as the printing press, the automobile and the internet.</p>
  </div>
</div>

<div class="category">
  <h2>Conceptual Foundations</h2>
  <div class="category-content">
    {% for foundation in site.foundations reversed %}
      <div class="content-piece">
        <h3><a href="{{ foundation.url }}">{{ foundation.title }}</a></h3>
      </div>
    {% endfor %}
  </div>
</div>

<div class="category">
  <h2>Essays</h2>
  <div class="category-content">
    {% for essay in site.essays reversed %}
      <div class="content-piece">
        <h3><a href="{{ essay.url }}">{{ essay.title }}</a></h3>
      </div>
    {% endfor %}
  </div>
</div>

<div class="category">
  <h2>Poetry</h2>
  <div class="category-content">
    {% for poem in site.poems reversed %}
      <div class="content-piece">
        <h3><a href="{{ poem.url }}">{{ poem.title }}</a></h3>
      </div>
    {% endfor %}
  </div>
</div>
