@import 'reset';

body {
  color: #272727;
  background: #EEEDE5;
  font-family: 'Montserrat', sans-serif;
}

a {
  color: #993300;
  &:hover {
    background-color: #ddd;
  }
}

i {
  font-style: italic;
}

a:visited {
  color: #993300;
}

p {
  line-height: 125%;
  margin-bottom: 10px;
}

h1 {
  font-size: 1.75em;
  color: #554;
  font-weight: 600;
}

h2 {
  font-size: 1.25em;
  color: #554;
  font-weight: 600;
}

.wrapper {
  max-width: 600px;
  margin: auto;
  padding: 60px 30px 60px 30px;
}

header {
  width: 600px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 3em;
}

header h1 {
  font-size: 2em;
  font-weight: 600;
}

header nav a {
  margin-left: 15px;
}

.intro {
  margin-bottom: 20px;
}

.category {
  margin-bottom: 25px;
  h2 {
    margin-bottom: 20px;
  }
}

.category-content {
  padding-left: 25px;
}

.content-piece {
  margin-bottom: 10px;
}

.post-title {
  margin-bottom: 30px;
  h1 {
    margin-bottom: 10px;
  }
}

.post-content {
  p {
    margin-bottom: 15px;
  }
}

blockquote {
  font: 14px/22px;
  font-style: italic;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 25px;
  padding-left: 15px;
  border-left: 3px solid #ccc;
}

sup, sub {
  font-size: 12px;
}

.footnotes {
  padding-top: 15px;
  font-size: 14px;
  li > p {
    display: inline;
  }
  li {
    margin-bottom: 10px;
  }
}
ol {
  list-style-position: inside;
}