@import 'reset';
@import 'github';

@viewport {
  width: device-width ;
  zoom: 1.0 ;
}

body {
  color: #272727;
  background: #EEEDE5;
  font-family: 'Montserrat', sans-serif;
}

a {
  color: #993300;
  &:hover {
    background-color: #ddd;
  }
}

i {
  font-style: italic;
}

a:visited {
  color: #993300;
}

p {
  line-height: 125%;
  margin-bottom: 10px;
}

h1 {
  font-size: 1.75em;
  color: #554;
  font-weight: 600;
}

h2 {
  font-size: 1.25em;
  color: #554;
  font-weight: 600;
}

strong {
  font-weight: bold;
}

em {
  font-style: italic;
}

.wrapper {
  @media only screen and (min-width : 992px) {
    max-width: 600px;
  }
  margin: auto;
  padding: 60px 30px 60px 30px;
}

.header {
    max-width: 600px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 0.5em;
}

.subheader {
  margin-top: 1em;
  margin-bottom: 1.5em;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.header h1 {
  font-size: 2em;
  font-weight: 600;
}

.header nav a {
  margin-left: 15px;
}

.intro {
  margin-bottom: 20px;
}

.category {
  margin-bottom: 25px;
  h2 {
    margin-bottom: 20px;
  }
}

.category-intro {
  margin-bottom: 25px;
}

.content-piece {
  margin-bottom: 10px;
}

.post-title {
  margin-bottom: 20px;
  h1 {
    margin-bottom: 10px;
  }
}

.post-content {
  p {
    margin-bottom: 15px;
  }

  h3 {
    font-weight: 600;
    color: #554;
    margin: 15px 0;
  }
}

.highlighter-rouge {
  margin-bottom: 10px;
}

.highlight {
  background: rgb(230, 230, 230);
  max-height: 300px;
  overflow: scroll;
  border: 1px #C1C1C1;
  border-radius: 3px;
  padding: 10px;
}

.language-plaintext {
  background: #e6e6e6;
  border: 1px #C1C1C1;
  border-radius: 3px;
}

blockquote {
  font: 14px/22px;
  font-style: italic;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 25px;
  padding-left: 15px;
  border-left: 3px solid #ccc;
}

sup, sub {
  font-size: 75%;
  font-weight: bold;
  left: 0.2em;
}

.footnotes {
  padding-top: 15px;
  font-size: 14px;
  li > p {
    display: inline;
  }
  li {
    margin-bottom: 10px;
  }
}
ol {
  list-style-position: inside;
}